@charset "utf-8";

.ui-popup {
    position: relative;
    background-color: #00a852;
    padding: 20px;
    font-weight: bold;
    text-align: center;
	color: white
}
.ui-popup p {
    margin-bottom: 20px
}

.ui-shadow-inset {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.readonly .ui-input-text {
    background-color: transparent !important;
	color: white;
	text-align: center;
	font-weight: bold
}
.ui-input-text {
    background-color: #028b45 !important;
    border: none !important;
	color: white;
	font-weight: bold;
}

div.ui-disabled {background-color:transparent !important; border:none !important}

.titulek{
	display: block;
    margin: 220px auto 30px;
    width: 90%;
}

.vysledek {
	text-align:center;
	color:#FFF;
	font-weight:bold;
	
	}
.vyber {
	font-size:14px; color:#FFFFFF; border:none; padding:5px; background-color: #00a852; width: 100%;
	}
.style13 {
    font-size: 20px;
	color: #FC0;
	text-align:left;
	font-weight:bold;
    display: block;
}

.style16 {
    color: #FC0;
    font-size: 15px;
    font-weight: 700;
}
.celkovacena {
    font-size: 24px;
	color: #000;
	text-align:center;
	font-weight:bold
}

h3 {
    margin-block-start: .5em;
    margin-block-end: 0em;
}
/* CSS Document */

